---
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations, useTranslatedPath, getPostFromLang, createBlogUrl  } from '../i18n/utils';
import Base from "../layouts/Base.astro"
import { Image } from 'astro:assets';

const pages = await getCollection('blog');
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const posts = await getPostFromLang(lang, 10);

---
<Base title={t('meta.title')} description={t('meta.description')}>     

    <!-- <div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3"> -->
    <div class="flex flex-wrap flex-row justify-around">
        {posts.map((post)=> {
            return (                                  
            <article class="card w-96 bg-base-300 shadow-xl mt-10">                        
                <figure>
                    <img class="object-cover w-96 h-48" src={post.data.image.url} alt={post.data.image.alt} />
                </figure>
                <div class="card-body">
                    <a href={createBlogUrl(post.slug)}>
                        <h2 class="card-title text-secondary">{post.data.title}</h2>  
                    </a>              
                    <p>{post.data.metaDescription}</p>
                    <div class="card-actions flex ">
                        <div class="flex-none">
                            <a class="btn btn-primary" href={createBlogUrl(post.slug)}>{t('button.read')}</a>
                        </div>
                        <div class="flex-1 flex flex-wrap gap-1">
                            {post.data.tags.map((tag)=> {
                                return (
                                    <div class="badge badge-natural badge-outline ">{tag}</div>
                                )
                            })}
                        </div>
                    </div>
                </div>
            </article>
            )
        })}
    </div>
</Base>