---
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations, useTranslatedPath, getPostFromLang, createBlogUrl  } from '../i18n/utils';
import Base from "../layouts/Base.astro"
import { Image } from 'astro:assets';
import hedersonImage from '../images/hederson-boechat.jpg';
import SocialMedia from '../components/SocialMedia.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const posts = await getPostFromLang(lang, 10);

---
<Base title={t('meta.title')} description={t('meta.description')} supressName={true}>     

    <!-- <div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3"> -->
    <article class="flex p-10 flex-wrap md:flex-nowrap">
        <section class="w-full p-0 lg:pr-10 lg:pt-10 order-2 md:order-1">
            <Image src={hedersonImage} alt="Picture of the author Hederson Boechat" class="rounded-full w-32 h-32 mx-auto" />
            <h2 class="text-center text-2xl mt-2">Hederson Boechat</h2>            
            <div class="flex justify-center gap-3 mt-2">   
                <SocialMedia />
            </div>
            <div class="flex justify-center mt-10 w-full">
                <a href="https://calendly.com/hedersonboechat/15min" class="btn btn-primary break-words" target="_blank">
                    Schedule a call
                    <br />
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>                      
                </a>
            </div>            
        </section>
        <section class="order-1 md:order-2 mb-10 md:mb-0 text-neutral">
            <h1 class="text-4xl font-bold">Software Engineer, founder, and product builder</h1>
            <p class="mt-10">
                <h2 class="text-xl font-bold mb-2">About me</h2>
                I've creating softwares since 2013, and I'm currently working as a Software Engineer, but as my side hustle, I'm creating my own products.
            </p>
            <p class="mt-10">
                <h2 class="text-xl font-bold mb-2">About this blog</h2>
                This blog aims to be a platform for sharing all my experiences, whether related to what I'm learning or doing. 
                Currently, I'm passionate about creating software products known as SaaS. You can expect content covering technical 
                aspects as well as more business-focused topics such as marketing and sales.
            </p>
        </section>     
    </article>  
    <div class="divider" />
    <div class="flex justify-center">
        <h1 class="text-3xl">Latest Posts</h1>
    </div>  
    <div class="flex flex-wrap flex-row justify-around">        
        {posts.map((post)=> {
            return (                                  
            <article class="card w-96 bg-base-200 shadow-xl mt-10">                        
                <figure>
                    <img class="object-cover w-96 h-48" src={post.data.image.url} alt={post.data.image.alt} />
                </figure>
                <div class="card-body">
                    <a href={createBlogUrl(post.slug)}>
                        <h2 class="card-title text-neutral font-bold">{post.data.title}</h2>  
                    </a>              
                    <p>{post.data.metaDescription}</p>
                    <div class="card-actions flex ">
                        <div class="flex-none">
                            <a class="btn btn-primary text-neutral-content" href={createBlogUrl(post.slug)}>{t('button.read')}</a>
                        </div>
                        <div class="flex-1 flex flex-wrap gap-1">
                            {post.data.tags.map((tag)=> {
                                return (
                                    <div class="badge badge-neutral badge-outline">{tag}</div>
                                )
                            })}
                        </div>
                    </div>
                </div>
            </article>
            )
        })}
    </div>
</Base>